<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    {% if message %}
    <p><strong>{{ message }}</strong></p>
    <p>Please contact Administration Department</p>
    {% else %}
    <p>Name: <strong>{{ student.name }}</strong></p>
    <p>MIS: <strong>{{ student.mis }}</strong></p>
    <p>Date of Birth: <strong>{{ student.date_of_birth }}</strong></p>
    <p>Email: <strong>{{ student.email }}</strong></p>
    <p>Mobile Number: <strong>{{ student.mobile_number }}</strong></p>
    {% endif %}
    <a href="{% url 'profile:def_index' %}">Go Back</a>
    <button><a href="{% url 'profile:logout_view' %}">Log out</a></button>
</body>
</html>